@import "tailwindcss";

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

.animate-shake {
  animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
}

/* Стилизация скроллбара для красоты */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fdf8f6; 
}
::-webkit-scrollbar-thumb {
  background: #fbbf24; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f59e0b; 
}